.hom{
    width: 95%;
    height: 320px;
    margin: 2%;
    
}
.homc{
    margin-top: 10%;
}
.per{
    width: 94%;
    height: 320px;
    margin-left: 3%;
}
.perl{
    margin-top: 10%;
}